@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 00;
}

html {
  box-sizing:border-box;
  font-size: 62.5%;
 
}

.about_owasp {
  background-image: url("../media/bgAboutOwasp.png");
  /*background-color:white;*/
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.aboutcard{
  background-color:#1f2833;
  
}

.aboutgrid {
  display: grid;
  width: 114em;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
  background-color:1E1E1E;
}

.aboutgrid-item {
  background-color: #fff;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.35s;
}

.aboutgrid-item:hover {
  transform: translateY(-0.35%);
  transform: scale(1.02);
  transition: 0.35s;
  box-shadow: 0rem 0rem 8rem 0.7rem #4cd7d0;
}

card-image {
	background-repeat: no-repeat;
	background-position: 150% 50%;
	background-size: cover;
	width: 300px;
	height: 300px;
         }

.aboutcard-content {
  padding: 0.5rem;
  background-color:#24282f;
}

.aboutcard-header {
  font-size: 6rem;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 0.4rem;
  font:poppins;
  padding-left:0.4em;
  line-height: 80px;
  
}
.aboutcard-head {
  font-size: 6rem;
  font-weight: 500;
  color: #4CD7D0;
  margin-bottom: 0.4rem;
  font:poppins;
  padding-left:0.4em;
  line-height:20px ;
}

.aboutcard-text {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: 	#FFFFFF;
  margin-bottom: 2.9rem;
  padding-right:2em;
  padding-left:2em;
  padding-bottom:2em;
}


.aboutcard-btn:hover,
.aboutcard-btn:active {
  background-color: #c2cffc;
}

.aboutcard-btn:hover span,
.aboutcard-btn:active span {
  margin-left: 15rem;
}

@media only screen and (max-width: 60em) {
  .about_owasp{
    padding: 3rem;
  }

  .aboutgrid {
    grid-gap: 3rem;
  }
}

.rotate_01{
	display: block;
	position: relative;
	top: 250px;
	left: 540px;
	width: 150px;
	height: 150px;
	margin:-60px 0 0 -60px;
	
	
	
       
       }
       
       .rotate_01:hover{
	    -webkit-animation: spin 1s linear infinite;
	    -moz-animation: spin 1s linear infinite;
	    animation: spin 1s linear infinite;
	}
       
       @-webkit-keyframes spin{
	100%{-webkit-transform: rotate(360deg);}
       }
       @-moz-keyframes spin{
	100%{-webkit-transform: rotate(360deg);}
       }
       @keyframes spin{
	100%{-webkit-transform: rotate(360deg);}
       }
      .aboutMyDiv{
	position: relative; /* Declared position allows for location changes */
	top:12q00px; /* Moves the image 2px closer to the top of the page */
      }