@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.c-faq__answer {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  /*
  body {
    box-sizing: border-box;
    font-family: "ABeeZee", sans-serif;
    line-height: 1.48;
    font-size: 16px;
    color: #333;
  }
  
  body *,
  body *::after,
  body *::before {
    box-sizing: inherit;
  }
  */
  .faq{
    background-color: #1e1e1e;
    font-size: 25px;
  }
  
  .containerfaq {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
  }
  
  .section__headline {
    font-family: 'Poppins', sans-serif;
    font-size: 62px;
    font-weight: light;
    color: #4CD7D0;
    padding-left: 15px;
    padding-top: 100px;
  }
  
  .c-faqs__headline {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding-left: 15px;
    font-size: 1.5em;
    margin-top: 1.5em;
    font-weight: bold;
  }
  
  .c-faqs {
    margin: 15px 0;
    padding: 0 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
  
  .c-faq {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    margin: 10px 0 5px;
  }
  
  .c-faq__title {
    cursor: pointer;
    font-weight: 500;
    background: #1e1e1e;
    z-index: 10;
    position: relative;
    font-size: 1.1em;
  }
  .c-faq__title:hover {
    text-decoration: underline;
  }
  .c-faq__title::after {
    white-space: nowrap;
    font-weight: 300;
    padding-left: 5px;
    opacity: 0;
    transform-origin: 11px;
    transform: rotateZ(90deg);
    display: none;
    content: ">";
  }
  
  .c-faq--active .c-faq__title {
    color: #4CD7D0;
  }
  .c-faq--active .c-faq__title::after {
    opacity: 1;
    transform: rotateZ(90deg);
    display: inline-block;
  }

  .c-faq__title{
    color:white;
  }
  
  .c-faq__answer {
    font-weight: normal;
    margin-top: -10%;
    transition: all 0.1s;
    z-index: 1;
    font-size: 0.9em;
    color: white;
  }
  
  .c-faq--active .c-faq__answer {
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: all 0.2s;
    border-radius: 3px;
    border: 1px solid #f1f2f3;
    border-top: 1px solid #4CD7D0;
    padding: 20px;
  }
  
  @media (min-width: 780px) {
    .c-faqs {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      height: auto;
    }
  
    .c-faqs::before {
      opacity: 0.2;
    }
  
    .c-faq {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .c-faq .c-faq__title {
      width: 50%;
      padding-right: 40px;
      display: inline-block;
    }
    .c-faq .c-faq__title::after {
      display: none;
    }
    .c-faq .c-faq__answer {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 50%;
      width: 50%;
      border-left-color: #4CD7D0;
      border-top-color: #f1f2f3;
    }
  }
  .c-note {
    font-size: 0.8em;
    padding-left: 15px;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
  }
  .c-note:hover {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
  .c-note a {
    color: #4CD7D0;
  }