@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@font-face {
  font-family: poppins-med;
  src: url(../fonts/Poppins-Medium.ttf);
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
/*--Previous Events--*/

.slide-container {
  margin: auto;
  text-align: center;
  padding: 30px;
  background-color: #1e1e1e;
  overflow-x: hidden;
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Poppins", sans-serif;
}
.wrapper:focus {
  outline: 0;
}
.wrapper2 {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Poppins", sans-serif;
  position: relative;
  top: 40px;
}
.wrapper:focus {
  outline: 0;
}

h1{
    color: white;
}
.clash-card {
  background: white;
  width: 350px;
  height: 100%;
  display: inline-block;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 99;
}

@media only screen and (max-width: 576px) {
  .clash-card {
    width: 280px;
  }
}

@media only screen and (max-width: 321px) {
  .clash-card {
    width: 240px;
  }
}

.clash-card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.clash-card__image--barbarian {
  background: #2ab3caca;
}
.clash-card__image--barbarian img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease-in-out;
}
.wrapper:hover .clash-card__image--barbarian img {
  width: 130%;
}

.clash-card__image--archer {
  background: #2ab3caca;
}
.clash-card__image--archer img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease-in-out;
}

.wrapper:hover .clash-card__image--archer img {
  width: 130%;
}

.clash-card__image--wizard {
  background: #2ab3caca;
}
.clash-card__image--wizard img {
  width: 100%;
  position: absolute;
  /* height: ; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease-in-out;
}

.wrapper:hover .clash-card__image--wizard img {
  width: 130%;
}

.clash-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.clash-card__level--barbarian {
  color: #ffa73c;
}

.clash-card__level--archer {
  color: #ffa73c;
}

.clash-card__level--wizard {
  color: #ffa73c;
}

.clash-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.clash-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size:15px;
}

.clash-card__unit-stats--barbarian {
  background: #0d1634f3;
}
.clash-card__unit-stats--barbarian .one-third {
  border-right: 1px solid #1f2833;
}

.clash-card__unit-stats--archer {
  background: #0d1634f3;
}
.clash-card__unit-stats--archer .one-third {
  border-right: 1px solid #1f2833;
}

.clash-card__unit-stats--wizard {
  background: #0d1634f3;
}
.clash-card__unit-stats--wizard .one-third {
  border-right: 1px solid #1f2833;
}

.clash-card__unit-stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.clash-card__unit-stats .one-third {
  width: 33%;
  float: left;
  padding: 20px 15px;
}
.clash-card__unit-stats .stat {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.clash-card__unit-stats .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
}
.clash-card__unit-stats .no-border {
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 99;
}

.slick-next {
  right: 100px;
  z-index: 99;
}

.heading-prev-events {
  margin-bottom: 30px;
}

.heading-prev-events .ml9 {
  position: relative;
  font-weight: 200;
  font-size: 4em;
  font-family: "poppins-med";
}

.heading-prev-events .ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.heading-prev-events .ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

a {
  text-decoration: none;
}

.aboutbutton {
  padding: 10px 50px;
  border-radius: 30px;
  text-align: center;
  border: 2px solid #4CD7D0;
  background-color: transparent;
  position: relative;
  top: 5%;
  color: black;
  font-family: "Poppins";
  transition: background-color 0.5s;
}

.aboutbutton{
  transition: background-color 0.5s;
  color:#4CD7D0 !important;
}

.aboutbutton:focus{
  outline: none;
}

.aboutbutton:hover{
  background-color: #4CD7D0;
  color: white !important;
}

